## OS specific ########
.DS_Store
.fuse_hidden*

## Project files ######
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
src/include/config/wespota_alternate_config.h
build

## Visual Studio Code specific ######
.vscode
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json

## Object files ######
*.o

## Editor backup files ######
*~
